{% block header %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path('homepage') }}">{ SymBNB }</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('homepage') }}">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('ad_items') }}">Annonces  <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {# <li class="nav-item active">
                <a class="nav-link" href="#"> Compte <span class="carpe"></span></a>
            </li> #}
            {% if app.user == null %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('user_login') }}"> connexion <span class="carpe"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('user_signup')}}"> inscription <span class="carpe"></span></a>
                </li>
            {% else %}
                 <li class="nav-item active">
                    <a class="nav-link" href="{{ path('user_logout')}}"> deconnexion <span class="carpe"></span></a>
                </li>
            {% endif%} 
        </ul>
    </div>
</nav>

{% endblock %}